.aboutMe-section {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

.history h2 { 
  position: relative; 
  font-size: 32px; 
  color: #000; 
  line-height: 1; 
}

.history h2::before { 
  content: ""; 
  position: absolute; 
  left: -40px; top: 50%; 
  width: 17px; 
  height: 17px; 
  border-radius: 100%; 
  background: #fff; 
  transform: translateY(-50%); 
  border: 5px solid #ff5a2b;  
  box-sizing: border-box; 
}

.history div { 
  position: relative; 
  padding: 0 0 0 40px;
}

.history div::before { 
  content: ""; 
  position: absolute; 
  left: 8px; top: 0; 
  height: 100%; 
  border-left: 2px solid #ddd;
}

.history div:first-child:before { 
  top: 10px; 
  height: clac(100%-10px);
}

.history ol { 
  padding: 20px 0 74px; 
}

.history li { 
  font-size: 17px;
  color: #000; 
  line-height: 30px;
}
.history li:not(:first-child) {
  font-size: 14px;
  color: #777;
}